<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="/subcommission-timescale-calibration/">Home</a></li>
    <li><a href="members">Members</a></li>
    <!--
    <li><a href="meetings">Forthcoming Meetings</a></li>
    <li><a href="correlations">Cambrian Correlation Schemes</a></li>
    <li><a href="publications">Publications</a></li>
    <li><a href="links">Links</a></li>
    -->
</ul>
<div style="margin-left:10px;">
    <p style="font-size: smaller;">Copyright &copy; ISCS, 2010-2022</p>
</div>